{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

  {% for question in data %}
    <div class="question-div" style="color:white;">
      <div class="question-head">
        <div class="useridcircle">
          {{ question.question.user__username|slice:":1"|capfirst }}
        </div>
        <div>
          <div style="font-size: 20px;">
            {{ question.question.user__username | title }}
          </div>
          <div style="font-size: 10px;">
            {% if question.question.local_created_at.date == current_date %}
                {{ question.question.local_created_at|naturaltime }}
            {% else %}
                {{ question.question.local_created_at|date:"M d, Y" }}
            {% endif %}
          </div>
        </div>
        
        
      </div>
      <div class="question">{{ question.question.question}}</div>
      <div class="question-svg">
        <i id={{question.question.question_id}} onclick="opencomment(this)" class='far fa-comment' ></i>
        {% if question.question.is_liked%}
          <i id="question-like-{{question.question.question_id}}" class="fa fa-thumbs-up" onclick="questionLikeDisLike('Like',{{ question.question.question_id }})" style="color: #287DFF;"><span class="count" id="question-like-{{question.question.question_id}}-span" style="color: white;"> {{question.question.like_count}}</span></i>
        {% else %}
          <i id="question-like-{{question.question.question_id}}" class="fa fa-thumbs-up" onclick="questionLikeDisLike('Like',{{ question.question.question_id }})"><span class="count" id="question-like-{{question.question.question_id}}-span" style="color: white;">{{question.question.like_count}}</span></i>
        {% endif %}
        {% if question.question.is_disliked%}
          <i id="question-dislike-{{question.question.question_id}}" class="fa fa-thumbs-down" onclick="questionLikeDisLike('DisLike',{{ question.question.question_id }})" style="color: #287DFF;"> <span class="count" id="question-dislike-{{question.question.question_id}}-span" style="color: white;">{{question.question.dislike_count}}</span> </i>
        {% else %}
          <i id="question-dislike-{{question.question.question_id}}"class="fa fa-thumbs-down" onclick="questionLikeDisLike('DisLike',{{ question.question.question_id }})"> <span class="count" id="question-dislike-{{question.question.question_id}}-span" style="color: white;">{{question.question.dislike_count}}</span></i>
        {% endif %}
      </div>
      <div class="comment-section" id ="question-comment-{{question.question.question_id}}">
        <div class="question-comment" >
        
          <form action="post-comment" method="post">
            {% csrf_token %}
            <div class="userprofile">{{ request.user.username|slice:":1"|capfirst }}</div>

            <input type="hidden" name="question-id" value="{{ question.question.question_id }}">
            <input type="text" name="question-comment" placeholder="Add a comment...">
            <button type="submit" class="post-comment-btn">Add comment</button>
          </form> 
        </div> 
        <div class="multiple-comment">
          
          {% if question.answer|length == 0 %}
            <div class="no-comment">No comment yet</div>
          {% else %}
            <div class="multiple-comment-head">Comments</div>
            {% for answer in question.answer %}

              <div id="comment-{{answer.answer_id}}">
                <div class="comment-profile-head">
                  <div class="userprofile" style="background-color: greenyellow;">{{ answer.user__username|slice:":1"|capfirst }}</div>
                  <div class="comment-info"><span>{{answer.user__username}}</span><br>
                    <span style="font-size: 10px;">{% if answer.local_created_at.date == current_date %}
                            {{ answer.local_created_at|naturaltime }}
                          {% else %}
                            {{ answer.local_created_at|date:"M d, Y" }}
                          {% endif %}</span>
                  </div>
                </div>
                <div class="answer-box">
                  <div class="answer">
                    {{answer.answer}}
                  </div>
                  <div class="answer-comment">
                    <div class="question-svg">
                      {% if answer.is_liked%}
                        <i id="answer-like-{{answer.answer_id}}" class="fa fa-thumbs-up" style="color: #287DFF;" onclick="answerLikeDisLike('Like',{{ answer.answer_id }})"><span class="count" id="answer-like-{{answer.answer_id}}-span" style="color: white;">{{answer.like_count}}</span></i>
                      {% else %}
                        <i id="answer-like-{{answer.answer_id}}" class="fa fa-thumbs-up" onclick="answerLikeDisLike('Like',{{ answer.answer_id }})"> <span class="count" id="answer-like-{{answer.answer_id}}-span" style="color: white;">{{answer.like_count}}</span></i>
                      {% endif %}
                      {% if answer.is_disliked%}
                        <i id="answer-dislike-{{answer.answer_id}}" class="fa fa-thumbs-down" onclick="answerLikeDisLike('DisLike',{{ answer.answer_id }})" style="color: #287DFF;"> <span class="count" id="answer-dislike-{{answer.answer_id}}-span" style="color: white;">{{answer.dislike_count}}</span></i>
                      {% else %}
                        <i id="answer-dislike-{{answer.answer_id}}" class="fa fa-thumbs-down" onclick="answerLikeDisLike('DisLike',{{ answer.answer_id }})" ><span class="count" id="answer-dislike-{{answer.answer_id}}-span" style="color: white;">{{answer.dislike_count}}</span> </i>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              
            {% endfor %}
          {% endif %}
          
        </div>
        
      </div>
      
      
    </div>
  {% endfor %}


  <div id="questionModal" class="modal">

    <div class="modal-content" >
        
        <div id="modal-head">
          <h2 id="add-question" >Add Question</h2>
        </div>      
        <form method="POST" action="post-question" id="question-modal">
            {% csrf_token %}
            <div class="q-flex  Banner___StyledFlex-sf9g3d-0 b12ir31" width="100%" style="box-sizing: border-box; display: flex; width: 100%;background-color: rgb(72, 148, 253, 0.2);color:#4894fd;"><div class="q-box qu-flex--1 qu-overflow--hidden" style="padding:10px;box-sizing: border-box;"><div class="q-text qu-bold" style="box-sizing: border-box;">Tips on getting good answers quickly</div><ul style="padding:0px 25px;"><li>Make sure your question has not been asked already</li><li>Keep your question short and to the point</li><li>Double-check grammar and spelling</li></ul></div></div>
            <textarea name="question_text" placeholder="Start your question with 'What', 'How', 'Why', etc." required></textarea>
            <br><br>
            <span class="close" onclick="closeModal()">Cancel</span>
            <button type="submit" class="add-question-btn">Add Question</button>
        </form>
      
    </div>
  </div>

{% endblock %}

{% block loadjs %}
  <script src="{% static 'js/dashboard.js' %}"></script>
  
{% endblock %}